
/* Navbar Styles */
.navbar{
  height: 100px !important;
}
.navbar-nav .nav-item a {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
.navbar-brand {
  color: #ff8b00  !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
}

/* Banner-Section */
.banner-container {
  position: relative;
  width: 100%;
  height: 550px; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 100px; /* Add margin to push the banner below the navbar */
}

.banner-img {
  position: relative;
  width: 100%;
  height: 550px; 
}

.banner-img img {
  width: 100%;
  height: 550px;
}

.banner-text {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 80px;
  top: 40px;
  color: white;
  font-size: 24px;
  margin: 0;
}
.banner-text  h4 span{
  color: #ff8b00;
}
.welcome-icon-top{
  margin-bottom: 15px;
}
.welcome-text-top{
  margin-bottom: 120px;
  color: #ff8b00;
}

.banner-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(136 74 0 / 30%);
  /* background: rgba(0, 0, 0, 0.5); Adjust shadow opacity as needed */
  z-index: 1;
}


/* Service-Section */
.service-container{
  background-color: #222;
  height: 500px;
}
.service-heading{
  color: white;
  text-align: center;
  padding-top: 2rem;
}
.service-container  .service-heading h3{
text-transform: uppercase;
color: #ff8b00;
}

.service-card{
  display: flex;
  margin: 10px;
  padding: 1rem 1rem;
}
.card{
  background: #fffaf4 !important;
    width: 33% !important;
    margin-inline: 3rem !important;
    border-radius: 0px !important;
    box-shadow: rgba(254, 254, 252, 0.15) 1.95px 1.95px 2.6px;
}
.card:hover{
  background-color: #ff8b00 !important;
 transition: ease 0.6s;
 color: #fffaf4;

}
.card-heading{
  text-align: center;
  margin-top: 1rem;
}
.card-text{
  text-wrap: wrap;
}
.card-img{
  text-align: center;
  font-size: 20px;
}
.card-img .img-fluid{
  height: 150px !important;
  width: 150px !important;
}
.span-color{
  color: #ff8b00;
}


/* About Container */

.about-container{
  height: 500px;
  background-color: #373333;
}
.about-heading{
  text-transform: uppercase;
 color: #ff8b00;
 padding-top: 1rem;
 text-align: center;
}