
/* Navbar Styles */
.navbar{
  height: 100px !important;
}
.navbar-nav .nav-item a {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
.navbar-brand {
  color: #ff8b00  !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  text-transform: uppercase !important;
}

/* Banner-Section */
.banner-container {
  position: relative;
  width: 100%;
  height: 550px; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 100px; /* Add margin to push the banner below the navbar */
}

.banner-img {
  position: relative;
  width: 100%;
  height: 550px; 
}

.banner-img img {
  width: 100%;
  height: 550px;
}

.banner-text {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 80px;
  top: 40px;
  color: white;
  font-size: 24px;
  margin: 0;
}
.banner-text  h4 span{
  color: #ff8b00;
}
.welcome-icon-top{
  margin-bottom: 15px;
}
.welcome-text-top{
  margin-bottom: 120px;
  color: #ff8b00;
}

.banner-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(136 74 0 / 30%);
  /* background: rgba(0, 0, 0, 0.5); Adjust shadow opacity as needed */
  z-index: 1;
}



 